html, body{
    overflow-x: hidden;
}
@media screen and (min-width: 768px) {
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 992px) {
    img {
        min-width: 100%;
    }
    img.logo {
        min-width: 214px;
    }
}
@media screen and (max-width: 767px) {
    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}

.img-no-responsive {
    min-width: initial;
}
.img-max-100p {
    max-width: 100%;
}
.cml_flags.cml_flags_on_top {
    display: none;
}
/* general: font */
body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color: #004987;
}

    /* h1 */
    h1 {
        font-weight: 300;
    }
    @media screen and (min-width: 992px) {
        h1 {
            font-size: 42px;
        }
    }
    @media screen and (max-width: 991px) {
        h1 {
            font-size: 30px;
        }
    }
    /* end h1 */
    /* h2 */
    h2 {
        font-weight: 300;
    }
    @media screen and (min-width: 992px) {
        h2 {
            font-size: 36px;
            font-weight: 300;
        }
    }
    @media screen and (max-width: 991px) {
        h2 {
            font-size: 24px;
        }
    }
    /* end h2 */
    /* h3 */
    h3 {
        font-weight: 400;
    }
    @media screen and (min-width: 992px) {
        h3 {
            font-size: 22px;
            line-height: 1.2;
            margin-bottom: 15px;
        }
    }
    @media screen and (max-width: 991px) {
        h3 {
            font-size: 18px;
        }
    }
    /* end h3 */

hr {
    border: 0;
}
p {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
}
/* end general: font */

/* general: links */
a, a:visited, a:active {
    color: #004987;
    text-decoration: none
}
a:hover {
    color: #009ADD;
    text-decoration: none
}
/* general: header */

.header-inner {
    margin-top: 28px;
    margin-bottom: 28px;
}
    /* start top nav */
    .top-nav {
        font-size: 10px;
        font-weight: 400;
    }
    .top-nav ul {
        float: right;
    }
    .top-nav li {
        display: inline-block;
        margin-right: 10px;
    }
    .top-nav li.last {
        margin-right: 0;
    }
    .top-nav-login-dialog-container {
        display: none;
    }
    .top-nav-login-dialog-container input[type="text"], .top-nav-login-dialog-container input[type="password"] {
        display: block;
        border: 1px solid #009BDE;        
        font-size: 10px;
        padding: 5px;
        margin-top: 10px;
        width: 100%;
    }
    .top-nav-login-dialog-container .login-dialog-buttons {
        margin-top: 10px;
    }
    .top-nav-login-dialog-container .forgot-password {
        font-size: 10px;
    }
    .top-nav-login-dialog-container #top-nav-login-dialog-form {
        position: absolute;
        right: 15px;
    }
    .top-nav-login-dialog-container label {
        display: none;
    }
    .top-nav-login-dialog-container p {
        line-height: 1;
    }
    .top-nav-login-dialog-container p.login-remember {
        display: none;
    }
    .top-nav-login-dialog-container p.login-submit {
        display: inline-block;
        margin-top: 10px;
    }
    #wp-submit {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;

        font-size: 10px;
        font-weight: 400;
        color: white;
        background: #C3D500;
        border-radius: 0;

    }
    #search-textbox {
        display: none;
        position: absolute;
        font-size: 10px;
        padding: 5px;
        margin-top: 10px;
        top: 0;
        right: 0;
        width: 256px;
        margin-right: 15px;
        border: 1px solid #009BDE;
    }
    #language-dropdown {
        position: absolute;
        float: none;
        top: 15px;
        right: 0;
        display: none;
    }
    #language-dropdown li {
        display: block;
        margin-top: 10px;
    }
    .language-dropdown-container {
        position: relative;
    }
/* general: navbar */
    /* start bootstrap affix adjustments */
    .navbar-header {
        kbackground: #074980;
    }
    .affix {
        top: 0;
    }
    .navbar-container {
        min-height: 50px;
    }
    /* end bootstrap affix adjustments */
    .navbar-main-collapsed-menu-logo {
        float:left;
    }
    @media screen and (max-width: 991px) {
        .navbar-main-collapsed-menu-logo {
            /* padding: 8px; (not according to design guideline) */
            padding: 10px;
        }
        .navbar-main-collapsed-menu-logo img {
            /*width: 130px; (not according to design guideline) */
            width: 114px
        }
    }
    /* bootstrap collapsed menu */
    .navbar-default .navbar-toggle {
        border: 0;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background: none;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background: white;
    }
    /* end bootstrap collapsed menu */

    /* change breakpoints at 992px */
    @media screen and (max-width: 991px) {
        .navbar-header {
            float: none;
        }
        .navbar-left,.navbar-right {
            float: none !important;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-fixed-top {
            top: 0;
            border-width: 0 0 1px;
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
            margin-top: 7.5px;
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 7px;
            padding-bottom: 7px;
        }
        .collapse.in{
            display:block !important;
        }
    }
    /* end change breakpoints */

    /* navbar general settings (applies to all screen sizes) */
    .navbar {
        margin-bottom: 0;
    }
    .navbar-nav {
        margin: 0;
    }
    #navbar-main .nav a {
        font-weight: 400;
        color: white;
        background: none;
    }
    @media screen and (min-width: 992px) {
        #navbar-main .nav a:hover, #navbar-main .nav a:active {
            font-size: 16px;
            border-bottom: 3px solid #009ADD;
            height: 50px;
        }
    }
    @media screen and (max-width: 991px) {
        #navbar-main .nav a {
            font-size: 14px;
        }
    }
    .navbar-static-top {
        border: 0;
    }
    #navbar-main {
        width: 100%; /* for bootstrap affix */
        background: #004a85;
        background: #335877; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzNTg3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNzQ5ODAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #335877 0%, #074980 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#335877), color-stop(100%,#074980)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #335877 0%,#074980 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #335877 0%,#074980 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #335877 0%,#074980 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #335877 0%,#074980 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#335877', endColorstr='#074980',GradientType=0 ); /* IE6-8 */
    }
    /* refactoring needed: .arrow can both apply to arrow in the navbar and arrow in the read-more button */;
    .arrow {
        color: white;
        position: absolute;
        top: 10px;
        /* right: 17px; TODO: is this needed? */
    }
    .arrow img {
        width: 7px;
    }
    .navbar-nav .arrow {
        color: white;
        position: absolute;
        top: 10px;
        right: 17px;
    }
    /* end refactor needed */
    /* end navbar general settings */

    /* navbar adjustments for showing logo and moving text to the right when it is scrolled down (desktop) */
    @media screen and (max-width: 768px) {
        .navbar-container {
            height: 52px;
        }
        #navbar-main {
            height: 52px;
        }
        .navbar-collapse {
            border: 0;
            text-align: right;
        }
        .nav-large-wrapper-outer {
            /*width: 100%;*/
        }
        .nav-large-wrapper-outer {
            display: inline-block;
            width: 280px;
            background: #074980;
            text-align: left;
        }
        .nav>li:hover {
            background: #009ADD;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
        /* floating navbar collapsible */
        .navbar-container {
            height: 52px;
        }
        #navbar-main {
            height: 52px;
        }
        .navbar-collapse {
            border: 0;
            text-align: right;
        }
        .nav-large-wrapper-outer {
            display: inline-block;
            width: 280px;
            background: #074980;
            text-align: left;
        }
        /* end floating navbar collapsible */
        .navbar-main-scrolled-menu-logo img { /* is this style used? on what screen size? */ 
            min-width: initial;
        }
        .navbar-nav>li:hover {
            background: #009ADD;
        }
    }
    @media screen and (min-width: 992px) {
        .navbar-nav {
            float: right;
        }
        .navbar-main-scrolled-menu-logo {
            position: absolute;
            height: 50px;
            width: 50px;
            padding: 10px; /* (without this line the logo will be full sized, thus not according to design guideline) */
            display: none;
        }
    }
    /* navbar equal width when on desktop (small) */
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        #navbar-main li {
            padding: 0 30px;
        }
        #navbar-main li.first {
            padding-left: 0;
        }
        #navbar-main li.last {
            padding-right: 0;
        }
        .nav>li>a {
            padding: 15px 0;
        }
    }
    /* end of navbar equal width when on desktop (small) */

    /* navbar equal width when on desktop (large) */
    @media screen and (min-width: 1200px) {
        #navbar-main li {
            padding: 0 46px;
            /* padding: 0 36px */
        }
        #navbar-main li.first {
            padding-left: 0;
        }
        #navbar-main li.last {
            padding-right: 0;
        }
        .nav>li>a {
            padding: 15px 0;
        }
    }
    /* end navbar equal width when on desktop (large) */

    @media screen and (max-width: 992px) {
        .nav-large-wrapper-outer {
            line-height: 0;
        }
    }
    @media screen and (min-width: 992px) {
        .nav-large-wrapper-outer {
            line-height: 0;
        }
        .navbar-main-scrolled-menu-logo img {
            max-width: 100%;
        }

    }
    .open>a .arrow img {
        -webkit-animation: spin .15s linear 1;
        -moz-animation: spin .15s linear 1;
        animation: spin .15s linear 1;

        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
    }
    .open > .dropdown-menu {
        animation-name: slidenavAnimation;
        animation-duration:3s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: forwards;

        -webkit-animation-name: slidenavAnimation;
        -webkit-animation-duration:3s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;

        -moz-animation-name: slidenavAnimation;
        -moz-animation-duration:2.4s;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: ease;
        -moz-animation-fill-mode: forwards;
    }

    /* nested menu */
    .dropdown-menu li {
        position: relative;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        padding-top: 0;
        padding-bottom: 0;
        background: #074980;
        box-shadow: none;
        border: 0;
        overflow-y: hidden;
    }
    @media screen and (max-width: 991px) {
        .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
            padding-top:7px;
            padding-bottom:7px;
        }
    }
    @media screen and (min-width: 992px) {
        .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
            /* this query is not necessary */
        }
    }
    .navbar-nav .open .dropdown-menu>li>a {
        sline-height: 1.42857143;
    }
    .navbar-collapse {
        max-height: inherit;
    }
    .dropdown-menu li {
        padding-left: 10px;
    }
    .dropdown-menu li .dropdown-menu {
        margin-left: -10px;
    }
    .dropdown-menu li .dropdown-menu li {
        padding-left: 40px;
    }
    .dropdown-menu li:hover {
        background: #009ADD;
    }
    .dropdown-menu li a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* end nested menu */


/* end general: navbar */
@media screen and (min-width: 992px) {
    .about-who-we-are .main-content-pane h2, .news-single .main-content-pane h2, .industry-guidelines-banking-in-indonesia h2 {
        margin-top: 60px;
    }
    .about-who-we-are .main-content-pane h3, .news-single .main-content-pane h3, .industry-guidelines-banking-in-indonesia h3 {
        margin-top: 30px;
    }
}
/* general: main content pane */
@media screen and (max-width: 991px) {
    .main-content-pane h2 {
        /* use default value for margin bottom */
    }
    .main-content-pane h3 {
        /* use default value for margin bottom */
    }
}
@media screen and (min-width: 992px) {
    .main-content-pane h2 {
        margin-bottom: 30px;
    }
    .main-content-pane .back-link+h2 {
        margin-top: 0;
    }
    .main-content-pane h3 {
        margin-bottom: 15px;
    }
}
.main-content-pane p {
    margin-bottom: 15px;
    color: #717271;
    font-size: 14px;
    font-weight: normal;
}
@media screen and (max-width: 991px) {
    .main-content-pane .in-article-diagram {
        /* use default value for margin top and bottom */
        /* use default value for padding left and right */
    }
}
@media screen and (min-width: 992px) {
    .main-content-pane .in-article-diagram {
        padding-left: 20%;
        padding-right: 20%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .main-content-pane .in-article-diagram-inner {
        padding-left: 20%;
        padding-right: 20%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
.main-content-pane p.last {
    margin-bottom: 60px;
}
.main-content-pane .inner-last {
    margin-bottom: 30px;
}

    /* list */
    .main-content-pane ol, .main-content-pane ul {
        margin-left: 15px;
        color: #717271;
        font-size: 14px;
        font-weight: normal;
    }
    .main-content-pane ol {
        list-style-type: decimal;
    }
    .main-content-pane ul {
            list-style-type: disc;
    }
    .main-content-pane ol>li, .main-content-pane ul>li {
        line-height: 1.6;
        margin-bottom: 10px;
    }
    /* end list */
/* general: footer */

.back-to-top-container .btn-fixed-bottom {
    display: none;
    bottom: 210px;
    right: 40px;
}

@media screen and (min-width: 1200px) and (max-width: 1388px) {
    .back-to-top-container .btn-fixed-bottom {
        right: 0px;
    }
}
.back-to-top-container .back-to-top-circle {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 35px;
    border: 1px solid #009BDE;
    background: white;
}
.back-to-top-container .back-to-top-circle {
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}
.back-to-top-container .back-to-top-arrow-normal {
    position: absolute;
    top: 29%;
    left: 44%;
    opacity: 1;
    font-size: 20px;
    color: #009BDE;
}
.back-to-top-container .back-to-top-arrow-onhover {
    position: absolute;
    top: 100%;
    left: 44%;
    opacity: 0;
    font-size: 20px;
    color: #009BDE;
}
.back-to-top-container .back-to-top-arrow-normal, .back-to-top-container .back-to-top-arrow-onhover {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.back-to-top-container .back-to-top .back-to-top-arrow-normal, .back-to-top .back-to-top-arrow-onhover {
    -webkit-transition: top 0.2s ease, opacity 0.2s ease;
    -moz-transition: top 0.2s ease, opacity 0.2s ease;
    -o-transition: top 0.2s ease, opacity 0.2s ease;
    transition: top 0.2s ease, opacity 0.2s ease;
}

.back-to-top-container .back-to-top:hover .back-to-top-circle {
    background: #009BDE;
    border: 1px solid white;
}
.back-to-top-container .back-to-top:hover .back-to-top-arrow-normal {
    top: -15%;
    color: black;
    opacity: 0;
}
.back-to-top-container .back-to-top:hover .back-to-top-arrow-onhover {
    top: 29%;
    color: white;
    opacity: 1;
}

.footer {
    margin-top: 75px;
}
@media screen and (max-width: 767px) {
    .footer {
        text-align: center;
    }
}
.footer, .footer-links a {
    background: #f5f5f5;
    color: #707170;
    font-size: 10px;
    font-weight: 300;
    line-height: 2.5;
}
.footer {
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer img {
    min-width: 0;
}
.footer-A{
    position: relative;
    top: -8px;
}
.footer-B {
    position: relative;
    top: -12px;
    margin-right: 15px;
}
@media screen and (min-width: 768px) {
    .footer-right {
        text-align: right;
    }
}
.footer-right li {
    display: inline-block;
    padding: 0 5px;
}
.footer-right img {
    max-height: 15px;
    max-width: 15px;
}
/* end general: footer */

/* general: components (buttons, date, description) */
.btn {
    font-size: 10px;
    font-weight: 400;
    color: white;
    background: #C3D500;
    border-radius: 0;
}

a.btn, a.btn:hover, a.btn:active, a.btn:visited {
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 991px) {
    a.btn, a.btn:hover, a.btn:active, a.btn:visited {
        margin-top: 15px;
    }
}
.btn .arrow {
    font-size: 0.7em;
    font-weight: bold;
    position: relative;
    top: -1px;
}
.date, .desc {
    font-size: 10px;
    font-weight: 400;
    color: #707170;
}

@media screen and (min-width: 992px) {
    .section-title {
        margin-top: 90px;
    }
}
@media screen and (max-width: 991px) {
    .section-title {
        margin-top: 30px;
    }
}
.section-title h1 {
        position: relative;
        line-height: 1.4;
}
@media screen and (min-width: 992px) {
    .section-title h1 {
        margin-bottom: 60px;
    }
}
@media screen and (max-width: 991px) {
    .section-title h1 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
.section-title h1 div {
    border-bottom: 1px solid #7fa4c3;
    position: absolute;
    width: 100%;
    bottom: 6px;
    z-index: -4;
}
.section-title h1 span {
    background: white;
}
/* start select (using jquery select2) */
    select {
        margin-bottom: 60px;
    }
    .select2-container {
        width: 240px;
        text-align: left;
    }

    .select2-container .select2-choice, .select2-container .select2-dropdown-open {
        height: auto;
        padding: 15px;
        background-color: #004987;
        background-image: none;
        border: none;
        border-radius: 0;
        color: white;
    }
    .select2-drop-active, .select2-results .select2-no-results {
        border: none;
        background: #004987;
        color: white;
        border-radius: 0;
    }
    .select2-result {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .select2-search input {
        border: 0;
        color: #004987;
        background: white;
    }
    .select2-container .select2-choice > .select2-chosen {
        line-height: 1;
    }
    .select2-container .select2-choice .select2-arrow {
        border: 0;
        border-radius: 0;
        background: none;
        width: 50px;
    }
    .select2-container .select2-choice .select2-arrow b {
        background: url('img/select-arrow.png') !important;
        background-size: 16px 8px !important;
        background-repeat: no-repeat !important;
        background-position: 50% 50% !important;
    }
    @media screen and (max-width: 768px) {
        .select2-container {
            width: 100%;
            margin-bottom: 10px;
        }
    }
    .select2-container .select2-choice > .select2-chosen {
        line-height: 1.2;
    }
    /* end select */

    /* start table */
    .member-list {
        font-size: 14px;
        color: #707170;
    }
    .member-list thead {
        padding: 0;
        background: #C3D500;
        font-size: 20px;
        color: white;
        text-align: center;
    }
    .member-list thead td {
        border-right: 1px solid white;
    }
    .member-list td {
        padding-top: 15px;
        padding-left: 10px;
        padding-bottom: 15px;
        width: 239px;
    }
    .member-list tr {
        border-bottom: 1px solid #C3D500;
    }
    /* end table */
.anchor-with-offset {
    display: block;
    content: "";
    height: 100px;
    margin: -100px 0 0;
}
/* end general */

/* main layout */
@media screen and (min-width: 992px) {
    .main-layout {
        margin-bottom: 100px;
    }
}
@media screen and (max-width: 991px) {
    .main-layout {
        margin-bottom: 50px;
    }
}
.main-layout .section-title {
    margin-top: 0;
}
.main-layout h2 {
    /*font-size:
    /*font-size: 24px;
    margin-bottom: 60px;*/
}
    /* breadcrumbs */
    .breadcrumbs {
        margin-top: 60px;
        margin-bottom: 30px;
        text-align: right;
        font-size: 10px;
        font-weight: 400;
    }
    .breadcrumbs .elem {
        margin: 0 10px;
    }
    /* end breadcrumbs */
    /* main layout: sidebar navigation */

    /*
    why is this necessary??
    @media screen and (min-width: 1200px) {
        .main-layout .sidebar {
            padding-right: 65px;
        }
    }*/
    /* sidebar affix */
    .sidebar.affix {
        top: 68px;
    }
    .main-layout .sidebar-title h2 {
        font-size: 26px;
        margin-top: 14px;
        margin-bottom: 60px;
    }
    .main-layout .accordion-group .item {
        position: static;
        display: block;
        min-height: 30px;
        text-align: left;
    }
    .main-layout .accordion-group a:hover {
        text-decoration: none;
    }
    .main-layout .accordion-inner {
        margin-left: 20px;
    }
    .accordion-group hr {
        margin:0;
        margin-bottom: 12px;
        height: 1px;
        color: #7fa4c3;
        background: #7fa4c3;
        border: 0;
        width: 10px;
    }
    .accordion-group hr.active {
        width: 100%;
    }
    /* end main layout: sidebar navigation */

@media screen and (max-width: 767px) {
    .main-layout .main-content-pane {
        /*margin-top: 50px;*/
    }
}

/* end main layout */

/* main layout (single view) */

/* end main layout (single view) */

/* main layout / about - who we are */
.about-who-we-are .subsection-title {
    font-size: 36px;
    color: #C4D600;
}
@media screen and (max-width: 991px) {
    .about-who-we-are .subsection-title {
        margin-bottom: 30px;
    }    
}
@media screen and (min-width: 992px) {
    .about-who-we-are .subsection-title {
        margin-bottom: 60px;
    }
}
.about-who-we-are .subsection-title-container {
    display: inline-block;
    position: relative;
    width: 137px;
}
.about-who-we-are .subsection-title h2 {
    margin: 0;
}
.about-who-we-are .subsection-title hr {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #C4D600;
    background: #C4D600;
    height: 3px;
}
.about-who-we-are .subsection-title.subsection-title-history span {
    border-bottom: 2px solid #C4D600;
}
.about-who-we-are .subsection-title-former-chairmen {
    font-size: 52px;
    margin-bottom: 45px;
}
.about-who-we-are .subsection-title-former-chairmen span {
    font-size: 36px;
    border-bottom: 2px solid #004987;
    position: relative;
    top: -13px;
}
@media screen and (max-width: 991px) {
    .about-who-we-are .subsection-title-former-chairmen {
        font-size: 36px;
        margin-bottom: 15px;
    }    
    .about-who-we-are .subsection-title-former-chairmen span {
        font-size: 24px;
        border-bottom: 2px solid #004987;
        position: relative;
        top: -9px;
    }

}
.about-who-we-are .hr {
    height:1px;
    background: #7fa4c3;
    width: 200px;
    display:inline-block;
}
@media screen and (max-width: 991px) {
    .about-who-we-are .hr {
        margin-top: 15px;
        margin-bottom: 15px;
    }    
}
@media screen and (min-width: 992px) {
    .about-who-we-are .hr {
        margin-top: 60px;
        margin-bottom: 60px;
    }    
}
    /* about - who we are history */
    .timeline-outer-container {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 100px;
        position: relative;
        top: 20px;
    }
    .timeline-outer-container ul.timeline-container {
        list-style: none;
        padding-left:0;
        margin-left: 0;
    }
    .timeline-outer-container .item {
        position: relative;
        width: 100%;
        height: 100px;
        padding-bottom: 100px;
        box-sizing: content-box;
        background: url('img/about-history-timeline.png') transparent no-repeat center top;
        margin-bottom: 0;
        margin-top: -4px;
    }
    .timeline-outer-container .bubble {
        position:absolute;
        top: -20px;
        left: 50%;
        margin: 0;
        margin-left: -70px;
        padding-top: 60px;
        width: 140px;
        height: 80px;
        line-height: 1;
        text-align: center;
        font-size: 24px;
        margin-top: 0;
    }
    .main-content-pane .timeline-outer-container h3.bubble {
        margin-top: 0;
    }
    .timeline-outer-container .bubble .text {
        position: relative;
        z-index: 10;
        color: white;
    }

    .timeline-outer-container .bubble .background {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 140px;
        height: 140px;
        background: #009BDE;
        border-radius: 100px;
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        -webkit-transition: -webkit-transform .17s ease-out;
        transition: -webkit-transform .17s ease-out;
    }
    .timeline-outer-container .goPop .background {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    .timeline-outer-container .item .description h3 {
        font-size: 24px;
    }
    .timeline-outer-container .item .description p {
        color: #717271;
        font-size: 14px;
    }
    @media screen and (min-width: 768px) {
        .timeline-outer-container .item .description.left {
            margin-left: 0;
            margin-right: 60%;
        }
    }
    @media screen and (max-width: 767px) {
        .timeline-outer-container .item .description.left {
            margin-left: 0;
            margin-right: 46%;
        }
    }
    .timeline-outer-container .item .description.right {
        margin-left: 60%;
        margin-right: 0;
    }
    @media screen and (max-width: 767px) {
        .timeline-outer-container .item .description.right {
            margin-left: 0;
            margin-right: 43%;
        }
    }
    @media screen and (min-width: 768px) {
        .timeline-outer-container .item .description.right {
            margin-left: 60%;
            margin-right: 0;
        }
    }
    @media screen and (max-width: 767px) {
        .timeline-outer-container {
            width: 100%;
        }
        .timeline-outer-container .item {
            background: none;;
        }
        .timeline-outer-container .bubble {
            margin-left: -140px;
            left: 100%;
        }
    }
    .timeline-outer-container .vertical-align {
        display: table-cell;
        margin: 0;
        height: 100px;
        vertical-align: middle;
    }
    /* end who we are history */

    /* former chairmen */
    #former-chairmen {
        background: #56b5e5;
        
    }
    @media screen and (min-width: 992px) {
        #former-chairmen, #former-chairmen .carousel-inner, #former-chairmen .carousel-inner .item, #former-chairmen .carousel-inner .item .desc {
            height: 400px;
        }
    }
    @media screen and (max-width: 991px) {
        #former-chairmen, #former-chairmen .carousel-inner, #former-chairmen .carousel-inner .item, #former-chairmen .carousel-inner .item .desc {
            height: 350px;
        }
    }
    #former-chairmen .carousel-inner .item .desc {
        position: relative;
        z-index: 2;
        display: table-cell;
    }
    @media screen and (min-width: 992px) {
        #former-chairmen .carousel-inner .item .desc {
            vertical-align: middle;
            padding-left: 70px;
        }
    }
    @media screen and (max-width: 991px) {
        #former-chairmen .carousel-inner .item .desc {
            vertical-align: bottom;
            padding-left: 10px;
            padding-bottom: 10px;
        }    
    }

    #former-chairmen .carousel-inner img {
        position: absolute;
        bottom: 0;
        right: 0;
        max-height: 400px;
        min-width: 0%;
    }
    #former-chairmen .carousel-inner h3 {
        font-size: 60px;
        color: white;
        font-weight: 400;
    }
    #former-chairmen .carousel-inner h4 {
        font-size: 26px;
        color: white;
        font-weight: lighter;
    }
    #former-chairmen .carousel-control-container .carousel-control.left, #former-chairmen .carousel-control-container .carousel-control.right {
        background: none;
    }
    #former-chairmen .carousel-control-container {
        position: absolute;
        right: 28px;
        width: 26px;
        top: 15px;
    }
    #former-chairmen .carousel-indicators-container {
        position: relative;
    }
    #former-chairmen .carousel-indicators-container .border {
        height: 3px;
        position: absolute;
        top: -32px;
        width: 100%;
        background: white;
        padding: 0 107px;
        background-clip: content-box;
    }
    @media screen and (max-width: 1200px) {
        #former-chairmen .carousel-indicators-container .border {
            padding: 0 30px;
        }
    }
    #former-chairmen .carousel-indicators {
        position: absolute;
        bottom: 20px;
        left: inherit;
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    #former-chairmen .carousel-indicators ul {
        display: inline-block;
        text-align: left;
    }
    #former-chairmen .carousel-indicators li {
        margin-left: 14px;
        margin-right: 15px;
        margin-bottom: 0;
        width: 15px;
        height: 15px;
        background: white;
        text-indent: 0;
        position: relative;
    }
    #former-chairmen .carousel-indicators li.active {
        background: #004987;
    }
    #former-chairmen .carousel-indicators li .carousel-indicators-year {
        position: absolute;
        color: white;
        width: 100px;
        margin-left: -50px;
        top: -29px;
        
        opacity: 0;
        -webkit-transition: opacity 0.2s ease;
    }
    #former-chairmen .carousel-indicators li.active .carousel-indicators-year {
        
        opacity: 1;
    }
    /* end former chairmen */

@media screen and (min-width: 992px) {
    .about-who-we-are .vision-mission-container {
        margin-bottom: 100px;
    }
}
@media screen and (max-width: 991px) {
    .about-who-we-are .vision-mission-container {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 992px) {
    .about-who-we-are .vm-title {
        padding-top: 95px;
        padding-bottom: 100px;
    }
}
@media screen and (max-width: 991px) {
    .about-who-we-are .vm-title {
        padding-top: 45px;
        padding-bottom: 50px;
    }
}
.about-who-we-are .vm-title h2 {
    margin-bottom: 40px;
    font-size: 48px;
}
@media screen and (max-width: 991px) {
    .about-who-we-are .vm-title h2 {
        margin-bottom: 40px;
        font-size: 36px;
    }    
}
.about-who-we-are .vm-title hr {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 36px;
    height: 3px;
    background: white;
    color: #FFFFFF;
}
.about-who-we-are .vision {
    color: white;
    background-color: #009ADD;
    background: url('img/about-who-we-are-vision.jpg') 75%  fixed;
}
.about-who-we-are .vision p {
    padding-left: 34px;
    padding-right: 34px;
    color: white;
}
.about-who-we-are .vm-title.mission hr {
    background: rgb(0, 73, 135);
    color: rgb(0, 73, 135);
}
.about-who-we-are .mission {
    background: #f5f5f5;
}
.about-who-we-are .mission p {
    color: #707170;
}
.about-who-we-are .column-background {
    background: #009ADD;
    background-clip: content-box;
}
@media screen and (min-width: 768px) {
    .about-who-we-are .column-background .row {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media screen and (max-width: 991px) {
    .about-who-we-are .column .vm-title {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
}
@media screen and (min-width: 992px) {
    .about-who-we-are .column .vm-title {
        padding-top: 50px;
        padding-bottom: 50px;
    }    
}
.about-who-we-are .column h2 {
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-bottom: 17px;
}
.about-who-we-are .column hr {
    height: 1px;
    margin-bottom: 17px;
}

.about-who-we-are .column p {
    color: white;
}
/* end main layout / about - who we are */

/* main layout / sectors */
.sectors .main-content-pane .item {
    position: relative;
    margin-bottom: 30px;
    color: white;
}
.sectors .item .overlay {
    position: absolute;
    top: 10px;
    left: 25px;
    bottom: 10px;
    right: 25px;
    /*background: #009ADD;*/
    background-color: rgba(0, 73, 135, 0.7);
    -o-transition:background .2s;
    -ms-transition:background .2s;
    -moz-transition:background .2s;
    -webkit-transition:background .2s;
    transition:background .2s;
    padding: 18px;
}
.sectors .item:hover .overlay {
    -o-transition:background .2s;
    -ms-transition:background .2s;
    -moz-transition:background .2s;
    -webkit-transition:background .2s;
    transition:background .2s;
    background: rgba(0, 154, 221, 1);
}
@media screen and (min-width: 768px) {
    .sectors .item .overlay .overlay-bottom-aligned {
        height: 284px;
        vertical-align: bottom;
        display: table-cell;
    }
}

@media screen and (min-width: 992px) {
    .sectors .item .overlay .overlay-bottom-aligned {
        height: 160px;
        vertical-align: bottom;
        display: table-cell;
    }
}

@media screen and (min-width: 1200px) {
    .sectors .item .overlay .overlay-bottom-aligned {
        height: 207px;
        vertical-align: bottom;
        display: table-cell;
    }
}

.sectors .item h3, .sectors .item h3 a, .sectors .item h3 a:hover, .sectors .item h3 a:visited, .sectors .item h3 a:active {
    font-size: 16px;
    color: white;
}

/* end main layout / sectors */

/* main layout / organization sector */
    
    .organization-sector .item .overlay {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 10px;
        left: 25px;
        bottom: 10px;
        right: 25px;
        background: white;
        -o-transition:opacity .2s;
        -ms-transition:opacity .2s;
        -moz-transition:opacity .2s;
        -webkit-transition:opacity .2s;
        transition:opacity .2s;
        padding: 18px;
    }
    @media screen and (min-width: 992px) {
        .organization-sector .item:hover .overlay {
            visibility: visible;
            -o-transition:opacity .2s;
            -ms-transition:opacity .2s;
            -moz-transition:opacity .2s;
            -webkit-transition: opacity .2s;
            transition: opacity .2s;
            opacity: 1;
            background: white;
        }
    }
    @media screen and (max-width: 992px) {
        .organization-sector .item.active .overlay {
            visibility: visible;
            -o-transition:opacity .2s;
            -ms-transition:opacity .2s;
            -moz-transition:opacity .2s;
            -webkit-transition: opacity .2s;
            transition: opacity .2s;
            opacity: 1;
            background: white;
        }
    }
    .organization-sector .item {
        text-align: center;
    }
    .organization-sector .item-title h3 {
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        color: rgb(0, 73, 135);
    }
    .organization-sector.item-title p {
        margin: 0;
    }
    .organization-sector.item-logo {
        margin: 18px 0;
    }
    .organization-sector .item-logo img {
        max-width: 100%;
    }
    .organization-sector .item-address {
        font-size: 12px;
        color: rgb(0, 73, 135);
    }
/* end main layout / organization sector */

/* main layout / regional board */
.regional-board .main-content-pane li {
    font-size: 18px;
    margin-bottom: 43px;
    list-style: initial;
    padding-left: 0;
    margin-left: 30px;
    margin-right: -30px;
}
/* end main layout / regional board */

/* main layout / regional board inside */
.regional-board-inside .main-content-pane hr {
    margin:0;
    margin-bottom: 40px;
    height: 1px;
    color: #7fa4c3;
    background: #7fa4c3;
    border: 0;
}
.regional-board-inside .contact-detail {
    font-size: 14px;
    color: #707170;
    margin-bottom: 38px;
}
.regional-board-inside .contact-detail td {
    padding-bottom: 6px;
}
.regional-board-inside .colon-separator {
    padding-left: 30px;
    padding-right: 10px;
}
.regional-board-inside h2 {
    font-size: 24px;
}
@media screen and (max-width: 991px) {
    .regional-board-inside h2 {
        margin-bottom: 15px;    
    }
}
@media screen and (min-width: 992px) {
    .regional-board-inside h2 {
        margin-bottom: 60px;
    }
}
/* end main layout / regional board inside */

/* main layout / member banks */
/* end main layout / member banks */

/* main layout / member banks (detail) */
.member-banks-detail .contact-detail {
    font-size: 14px;
    color: #707170;
    margin-bottom: 38px;
}
.member-banks-detail .contact-detail td {
    padding-bottom: 6px;
}
.member-banks-detail .colon-separator {
    padding-left: 30px;
    padding-right: 10px;
}
.member-banks-detail .main-content-pane hr {
    margin:0;
    margin-bottom: 40px;
    height: 1px;
    color: #7fa4c3;
    background: #7fa4c3;
    border: 0;
}
.member-banks-detail .main-content-pane-logo {
    margin-bottom: 60px;
}
.member-banks-detail .main-content-pane p {
    color: #707170;
}
.member-banks-detail .main-content-pane-left-column h2 {
    font-size: 14px;
    margin-bottom: 10px;
}

.member-banks-detail .main-content-pane-left-column-paragraph-heading {
    color: #004b89;
}
.member-banks-detail .main-content-pane-left-column p {
    color: #009ADD;
    margin-bottom: 15px;
}

.member-banks-detail .main-content-pane-left-column p a {
    display: inline-block;
    margin-top: 15px;
}

.member-banks-detail .main-content-pane-right-column h2 {
    font-size: 26px;
}
/* end main layout / member banks (detail) */

/* event upcoming */
.event-upcoming .main-content-pane hr {
    margin-top: 60px;
    margin-bottom: 60px;
    height: 1px;
    color: #E5E9EE;
    background: #E5E9EE;
    border: 0;
}
.event-upcoming .main-content-pane-left-column p {
    /*font-size: 10px;*/
    color: #009ADD;
}
.event-upcoming .main-content-pane-left-column .event-day {
    font-size: 14px;
}
.event-upcoming .main-content-pane-left-column .event-date {
    margin-bottom: 15px;
    font-size: 14px;
    color: #C3D500;
}
.event-upcoming .main-content-pane-middle-column h2 {
    margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
    .event-upcoming .main-content-pane-middle-column {
        margin-top: 30px;
    }
}
.event-upcoming .main-content-pane-right-column div {
    background: #808080;
}
.event-upcoming .main-content-pane .accordion-inner {
    margin-left: 0;
}
/* end main layout / event upcoming */

/* main layout / event seminar */
.event-seminar .main-content-pane-right-column h2 {
    margin-bottom: 25px;
}
.event-seminar .logo {
    margin-bottom: 60px;
}
.event-seminar .logo img {
    min-width: 100%;
}
.event-seminar .main-content-pane-left-column p {
    font-size: 10px;
    color: #009ADD;
}
.event-seminar .main-content-pane-left-column .event-day {
    font-size: 14px;
}
.event-seminar .main-content-pane-left-column .event-date {
    margin-bottom: 15px;
    font-size: 14px;
    color: #C3D500;
}
/* end main layout / event seminar */

/* homepage layout: main slider, news, events, gallery, partner slider */
    /* main slider */
    .homepage-slider .slider-background {
        background-image: url('../content/img/91156628-businessmen-having-meeting-in-office-gettyimages.jpg');
        background-size: cover;
    }
    .homepage-slider .slider-content {
        display: table-cell;
        vertical-align: middle;
    }

    @media screen and (max-width: 991px) {
        .homepage-slider .slider-content {
            /*height: 300px; seems a bit too small */
            height: 424px;
        }
    }
    @media screen and (min-width: 992px) {
        .homepage-slider .slider-content {
            height: 424px;
        }
    }
    .homepage-slider .slider-content-text h1 {
        line-height: 1.2;
        font-size: 30px;
    }
    @media screen and (max-width: 991px) {
        .homepage-slider .slider-content-text {
            max-width: 100%;
            text-align: center;
        }        
    }
    @media screen and (min-width: 992px) {
        .homepage-slider .slider-content-text {
            max-width: 50%;
        }
    }
    .homepage-slider .slider-pager {
        position: relative;
    }
    .homepage-slider .slider-pager-border {
        margin:0 1px;
        height: 10px;
        bottom: 20px;
        position: relative;
        left: 0;
        border-top:1px solid #009ADD;
    }
    .homepage-slider .carousel-indicators {
        position: absolute;
        left: 0;
        margin-left:0;
        width:100%;
        padding: 0 10px;
        text-align: left;
        bottom: 20px;
    }
    .homepage-slider .carousel-indicators li {
        margin:0;
        width: 32.5%;
        border-radius: 0;
        border:0;
        background: none;
        text-indent: 0;
    }
    .homepage-slider .carousel-indicators .page-number {
        position: relative;
        font-size: 12px;
        color: #009ADD;
    }
    .homepage-slider .carousel-indicators .page-number .offset-container {
        position: relative;
        top: -15px;

    }
    .homepage-slider .carousel-indicators li.active {
        margin:0;
        width: 32.5%;
        border-radius: 0;
        border:0;
        background: #C3D500;
        text-indent: 0;
    }
    /* end of main slider */

    /* news */
    .homepage-news {
        margin-bottom: -60px;
    }
    .homepage-news-item {
        margin-bottom: 60px;
    }
    .homepage-news-item .date {
        margin-top: 10px;
    }
    @media screen and (max-width: 991px) { /* tablet and mobile screen */
        .homepage-news-item .homepage-desc-bottom {
            margin-top: 12px;
        }
    }
    @media screen and (min-width: 992px) and (max-width: 1199px) { /* desktop screen */
        .homepage-news-item .homepage-news-desc-top {
            height: 100px;
        }
        .homepage-news-item .homepage-news-desc-bottom {
            margin-top:32px;
        }
    }
    @media screen and (min-width: 1200px) { /* desktop screen */
        .homepage-news-item .homepage-news-desc-top {
            height: 100px;
        }
        .homepage-news-item .homepage-news-desc-bottom {
            margin-top:69px;
        }
    }
    /* end news */

    /* gallery */
    .homepage-gallery img {
        margin-bottom: 20px;
    }
    .homepage-gallery h3 {
        /* font-size: 12px; */
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 15px;
    }
    @media screen and (max-width: 991px) {
        .homepage-gallery div {
            margin-bottom: 20px;
        }
        .homepage-gallery h3 {
            margin-bottom: 3px;
        }
        .homepage-gallery img {
            margin-bottom: 3px;
        }
    }
    /* end gallery */

    /* probank and events */
    .homepage-probank-desc-top {
        font-size: 14px;
    }
    @media screen and (max-width: 767px) {

    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
        .homepage-probank-desc-top {
            height: 157px;
        }
    }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        .homepage-probank-desc-top {
            height: 197px;
        }
    }
    @media screen and (min-width: 1200px) {
        .homepage-probank-desc-top {
            height: 217px;
        }        
    }
    .homepage-probank-image-container .edition {
        color: #707170;
    }
    .homepage-probank-image-container .edition-date {
        font-weight: bold;
    }
    /* partner slider */
    #partner-slider {
        /* margin-top: -30px; TODO: is this needed?; */
    }
    #partner-slider .partner-logo {
        height: 150px;#par
        display: table-cell;
        vertical-align: middle;
    }
    @media screen and (min-width: 992px) {
        #partner-slider .partner-logo-outer {
            padding:0 40px;
        }
    }
    #partner-slider img {
        max-width: 100%;
    }
    /* end of partner slider */
    /* probank mag */
    .homepage-probank-image-container {
        text-align: center;
    }
    .homepage-probank-image-container img {
        /* min-width: initial;*/
    }
    /* end of probank mag */
    .homepage-events .separator {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #DADBDA;
    }

.homepage-events .item-calendar {
    padding: 0;
    text-align: center;
}
.homepage-events .date {
    font-weight: 300;
    font-size: 26px;
    color: #C3D500;
}
.homepage-events .month {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #004987;
}
/* end homepage */

/* main layout / news */
.news .news-item .news-desc-top h3 {
    font-size: 18px;
}
.news .news-item .news-desc-top .date {
    margin-bottom: 25px;
}
.news .news-item .news-desc-bottom {
    margin-top: 12px;
}
@media screen and (max-width: 991px) { /* tablet and mobile screen */
}
@media screen and (min-width: 992px) and (max-width: 1199px) { /* desktop screen */
    .news .news-item .news-desc-top {
        /* height: 194px; /* 211px */
    }
}
@media screen and (min-width: 1200px) {
    /* desktop screen */
    .news .news-item .news-desc-top {
        height: 267px
    }
}
.news .news-item {
    margin-bottom: 30px;
}
.news .main-content-pane hr {
    margin-bottom: 30px;
    height: 1px;
    border: 0;
    color: #B3BAC1;
    background: #B3BAC1;
}
/* end main layout / news */

/* main layout / news single */
.news-single .main-content-pane h1 {
    margin-bottom: 30px;
}
.news-single .main-content-pane .top-row .back-link {
    margin-bottom: 30px;
}
.news-single .main-content-pane .top-row h2 {
    margin-bottom: 15px;
    font-size: 36px;
}
.news-single .top-row .date {
    font-size: 20px;
}
.news-single .news-content p {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #717271;
    /*font-size: 12px;*/
    font-weight: normal;
}
.news-single .other-news {
    margin-bottom: 90px;
}
.news-single .other-news h3 {
    margin-top: 0;
}
.news-single .other-news img {
    margin-bottom: 20px;
}
.news-single .other-news h3 {
    /* font-size: 12px; */
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    min-height: 63px;
}
/* end main layout / news single */

/* main layout / press releases */
.press-releases .press-release-item h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.press-releases .press-release-item .date {
    margin-bottom: 25px;
}
.press-releases .press-release-item .desc {
    margin-bottom: 30px;
}
.press-releases .main-content-pane hr {
    margin-top: 60px;
    margin-bottom: 60px;
    height: 1px;
    /* color: #737980; */
    background: #E5E9EE;
    border: 0;
}
@media screen and (min-width: 922px) {
    .press-releases .main-content-pane hr {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

/* end main layout / press releases */

/* main layout / downloads */
.downloads .downloads-item h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.downloads .downloads-item .date {
    margin-bottom: 25px;
}
.downloads .downloads-item .desc {
    margin-bottom: 30px;
}
.downloads .main-content-pane hr {
    margin-top: 60px;
    margin-bottom: 60px;
    height: 1px;
    /* color: #737980; */
    background: #E5E9EE;
    border: 0;
}
@media screen and (min-width: 922px) {
    .downloads .main-content-pane hr {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

/* end main layout / downloads */

/* main layout / probank magazine */
.probank .main-content-pane .item {
    position: relative;
    margin-bottom: 30px;
    color: white;
}
.probank .main-content-pane .img img {
    min-width: 100%;
}
.probank .overlay-container {
    position: relative;
}
.probank .item .overlay {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #004987;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}
.probank .item:hover .overlay {
    visibility: visible;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
    opacity: 0.9;
}
.probank .item .overlay .overlay-top-aligned, .probank .item .overlay .overlay-bottom-aligned {
    padding-top: 25%;
    height: 50%;
    text-align: center;
}
.probank .item .overlay .overlay-top-aligned:hover, .probank .item .overlay .overlay-bottom-aligned:hover {
    background: #009BDE;
}

.probank .item h3, .probank .item h3 a, .probank .item h3 a:hover, .probank .item h3 a:visited, .probank .item h3 a:active {
    font-size: 16px;
    color: white;
}
.probank .description {
    margin-top: 5px;
    text-align: center;
}
.probank .description p {
    margin: 0;
    font-weight: normal;
    color: #a2a3a2;
}
.probank .description .date {
    height: 21px;
    font-weight: bold;
}

/* end main layout / probank magazine */

/* main layout / photo gallery (general) */
.photo-gallery .photo-gallery-album-item {
    margin-bottom: 30px;
}
.photo-gallery .photo-gallery-album-item h3 {
    margin-bottom: 10px;
    font-size: 14px;
}
/* end main layout / photo gallery (general) */

/* main layout / photo gallery (album list) */
/* end main layout / photo gallery (album list) */

/* main layout / photo gallery (album list) */
.photo-gallery-photo-list .main-content-pane h1 {
    margin-bottom: 30px;
}
.photo-gallery-photo-list .main-content-pane .top-row .back-link {
    margin-bottom: 30px;
}
.photo-gallery .photo-gallery-photo-list-item .square {
    width: 100%;
    height: 0;
    margin-bottom: 30px;
    padding-bottom: 81%;
    padding-top: 15%;
    border: 1px solid #b9bab9;
}

/* end main layout / photo gallery (album list) */

/* main layout / perbanas corner education */
.perbanas-corner-education .perbanas-corner-education-item .perbanas-corner-education-desc-top h3 {
    font-size: 18px;
}
.perbanas-corner-education .perbanas-corner-education-item .perbanas-corner-education-desc-top .date {
    margin-bottom: 25px;
}
.perbanas-corner-education .perbanas-corner-education-item .perbanas-corner-education-desc-bottom {
    margin-top: 12px;
}
.perbanas-corner-education .perbanas-corner-education-item {
    margin-bottom: 30px;
}
.perbanas-corner-education .main-content-pane hr {
    margin-bottom: 30px;
    height: 1px;
    border: 0;
    color: #B3BAC1;
    background: #B3BAC1;
}
/* end main layout / perbanas corner education */

/* main layout / perbanas corner FAQ */
.perbanas-corner-faq .main-content-pane .accordion-inner {
    margin-left: 0;
}
.perbanas-corner-faq .main-content-pane h2 {
    margin-bottom: 30px;
}
/* end main layout / perbanas corner FAQ */

/* main layout / industry guidelines syariah business */
.industry-guidelines-syariah-business .industry-guidelines-syariah-business-item h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.industry-guidelines-syariah-business .industry-guidelines-syariah-business-item .date {
    margin-bottom: 25px;
}
.industry-guidelines-syariah-business .industry-guidelines-syariah-business-item .desc {
    margin-bottom: 30px;
}
.industry-guidelines-syariah-business .industry-guidelines-syariah-business-item .desc-detailed {
    color: #717271;
}
.industry-guidelines-syariah-business .main-content-pane hr {
    height: 1px;
    /* color: #737980; */
    background: #E5E9EE;
    border: 0;
}
@media screen and (min-width: 922px) {
    .industry-guidelines-syariah-business .main-content-pane hr {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

/* end main layout / industry guidelines syariah business */

/* main layout / industry guidelines banking in indonesia */
.industry-guidelines-banking-in-indonesia .section {
    margin-bottom: 60px;
}
.industry-guidelines-banking-in-indonesia .section h2 {
    font-size: 36px;
    margin-bottom: 15px;
}
.industry-guidelines-banking-in-indonesia .section h3 {
    margin-bottom: 18px;
}
.industry-guidelines-banking-in-indonesia .section p:last-child {
    margin-bottom: 0;
}
/* end main layout / industry guidelines banking in indonesia */


/* start of main layout / contact */
    .contact-logo {
        margin-bottom: 40px;
    }
    .section-title.contact {
        margin-top: 0;
    }
    .contact-address, .contact-phone, .contact-fax, .contact-email {
        color: #666666;
    }
    @media screen and (min-width: 992px) {
        .contact-address, .contact-phone, .contact-fax, .contact-email {
            margin-bottom: 30px;
        }
    }
    @media screen and (max-width: 991px) {
        .contact-address, .contact-phone, .contact-fax, .contact-email {
            margin-top: 10px;
            margin-bottom: 10px;
            /*max-height: 60px;*/
        }
    }
    .contact-section-title {
        color: #004b89;
    }
    /* start of map */
    #map {
        height: 500px;
        width: 100%;
    }
    /* end map */

    /* start of form */
    ::-webkit-input-placeholder { /* WebKit browsers */
        color:    #56b4e7;
        padding-top: 3px;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #56b4e7;
        opacity:  1;
        padding-top: 3px;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #56b4e7;
        opacity:  1;
        padding-top: 3px;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    #56b4e7;
        padding-top: 3px;
    }
    .contact-form input[type="text"],
    .contact-form input[type="email"] {
        border: 1px solid #56b4e7;
        width: 100%;
        height: 47px;
        padding-left: 20px;
        line-height: 1;
        margin-bottom: 40px;
        color:    #56b4e7;
    }
    .contact-form textarea {
        width: 100%;
        border: 1px solid #56b4e7;
        padding-left: 20px;
        padding-top: 20px;
        height: 200px;
        margin-bottom: 40px;
        color:    #56b4e7;

    }
    .contact-form input[type="submit"] {
        background: #c3d600;
        border: 0;
        color: white;
        padding: 14px;
    }
    /* TOOD: is this extra margin needed?
    .contact-form {
        margin-bottom: 140px;
    }
    */
    div.wpcf7 img.ajax-loader {
        display: none;
    }
    /* end form */
/* end main layout / contact page */

/* main layout / members' area */
.members-area .members-area-item .members-area-desc-top h3 {
    font-size: 18px;
}
.members-area .members-area-item .members-area-desc-top .date {
    margin-bottom: 25px;
}
.members-area .members-area-item .members-area-desc-bottom {
    margin-top: 12px;
}
.members-area .members-area-item {
    margin-bottom: 30px;
}
.members-area .main-content-pane hr {
    margin-bottom: 30px;
    height: 1px;
    border: 0;
    color: #B3BAC1;
    background: #B3BAC1;
}
/* end main layout / members' area */

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(90deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(90deg);
    }
}
@keyframes spin {
    100% {
        transform:rotate(90deg);
    }
}
@keyframes slidenavAnimation {
    from {
        max-height: 0;
    }
    to {
        max-height: 5000px;
    }
}
@-webkit-keyframes slidenavAnimation {
    from {
        max-height: 0;
    }
    to {
        max-height: 5000px;
    }
}
@-moz-keyframes slidenavAnimation {
    from {
        max-height: 0;
    }
    to {
        max-height: 5000px;
    }
}